*{
  box-sizing: border-box
}
body{
  background-color: #eceef1;
}

/* SingIn */

.signInHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 40px;
}
.signInHeader .signText{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: right;
}
.signText small{
  color: #51555c;
}
.signText .signlink{
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 100;
  color: #077AC6;
}
.signInHeader .btn{
  display: flex;
  width: 100px;
}
.signInHeader .signBtn{
  width: 100%;
  background-color: #3677d1;
  border: 1px solid #26282b;
  border-radius: 5px;
  color: #fff;
}
.signBtn .lock{
  display: flex;  
  padding: 3px 7px;
}
.lock img{
  width: 15px;
  text-align: center;
  padding: 1px;
  margin-right: 3px;
}



/* Header */
.container{
  display: block;
  margin: 0 auto;
}
.container .form{
  margin: 0 auto;
}
.form .header h1{
  width: 180px;
  margin: 0 auto;
}
figure{
  display: flex;
  margin: 0px;
}
a.img{
  margin: 0 auto;
  width: 170px;
  height: 59px;
  background-image: url(../img/intuitlogo.png);
  opacity: .8;
}
a.img{
  background-position: 0 0;
  background-size: 168px;
  background-repeat: no-repeat;
}
.headerForm{
  width: 380px;
  margin: 0 auto;
}
.headerForm ul{
  display: flex;
  padding: 0px;
}
.headerForm ul .center{
  display: flex;
  margin: 0 auto;
}
.headerForm ul .group{
  display: flex;
  padding: 0px;
  align-items: center;
}
.group small{
  margin-right: 8px;
}
.headerForm ul li.mint{
  background-image: url(../img/Mint.png);
  height: 30px;
  width: 100px;
}
li.mint{
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.headerForm ul li.quickbooks{
  background-image: url(../img//quickbooks.png);
  height: 30px;
  width: 100px;
}
li.quickbooks{
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.headerForm ul li.turbotax{
  background-image: url(../img/turbotax.png);
  height: 30px;
  width: 100px;
}
li.turbotax{
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.headerForm ul .group li{
  list-style: none;
  width: 30px;
  cursor: pointer;
}
.headerForm ul li div{
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.headerForm ul li div img{
  width: 21%;
}
.headerForm small{
  margin-left: 7px;
  color: #8D9096;
  font-size: 17px;
  cursor: pointer;
}
.form .content{
  width: 380px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #C7C7C7;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2, p{
  color: #4C4C4C;
  margin-top: 0px;
  font-weight: 400;
  text-align: center;
}
.content p{
  font-size: 14px;
  margin: 0px;
}
.content small{
  color: #0077C5;
  cursor: pointer;
}
.content small:hover{
  cursor: pointer;
  text-decoration: underline;
}



/* Form Content */

.content form{
  margin-top: 20px;
}
.content form label{
  font-size: 14px;
  opacity: .9;
}
.content form div{
  margin-top: 20px;
}
.email input, .password input, .tel input{
  margin-top: 7px;
  border-radius: 3px;
  padding: 3px;
  height: 37px;
  width: 100%;
  border: 1px solid #aeaeae;
}
.content form .checkbox{
  display: flex;
  margin-top: 20px;
  padding: 5px;
}
.checkbox{
  display: flex;
  margin-top: 20px;
  padding: 5px;
}
.checkbox input{
  width: 18px;
  height: 18px;
}
.checkbox p{
  margin: 0 auto;
  margin-left: 4px;
  color: black;
  font-variant: normal;
}




/* Form Terms */



/* Form footer */




/* Footer */



/* MEDIAS */
@media (max-width:768px){
  .signInHeader{
    display: none;
  }
}

